<h1>Weather forecast</h1>
<hr />
<p>***</p>

<p *ngIf="!forecasts"><em>Загрузка...</em></p>

<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Р”Р°С‚Р°</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>

      <th>Summary</th><th>***</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td><td>***</td>
    </tr>
  </tbody>
</table>
